.content {
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.cards {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  overflow: hidden;
}

.cards__container {
    position: absolute;
    width: 304px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -152px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 1s;
    transition: transform 1s;
}

.card {
  position: absolute;
  display: block;
  width: 304px;
  height: 450px;
/*  transform-origin: right center;
  transform-style: preserve-3d;
  transition: transform 1s;*/
}

.cardflip {
  position: absolute;
  display: block;
  width: 304px;
  height: 450px;
  /*transform-origin: right center;*/
  transform-style: preserve-3d;
  transition: transform 1s;
}

.cardflip figure {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.front {
  background: url(./images/card.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.back {
  background: url(./images/card.png);
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotateY( 180deg );
}
.members {
  background: #000;
  width: calc(100% - 32px);
  height: calc(100% - 41px);
  margin: 16px;
}

.hover {
  transform:  rotateY( -180deg );
}

.card:nth-child(1) {
  transform: translateX(-670px) translateZ(250px) scale(.8);
};

.card:nth-child(2) {
  transform: translateX(-335px) translateZ(250px) scale(.8);
};

.card:nth-child(3) {
  transform: translateX(0) translateZ(250px);
};

.card:nth-child(4) {
  transform: translateX(335px) translateZ(250px) scale(.8);
};

.card:nth-child(5) {
  transform: translateX(670px) translateZ(250px) scale(.8);
};

